<h1><%= @user.name %>さんの投資先編集</h1>

<%= form_for(@investment,url: investment_path(@user), html: {method: "patch"}) do |f| %>
  <table>
    <tr>
      <th>投資先</th>
      <th>投資額(万円)</th>
    </tr>
    <% @investments.each do |investment| %>
      <tr>
        <td><%= f.label :"#{investment.candidate.name}" %></td>
        <td><%= f.number_field :"#{investment.candidate.name}",:value => investment.money,class: 'form-control' %>万円</td>
      </tr>
    <% end %>
  </table>
  <%= f.submit "編集する", class: "btn btn-primary"%>
<% end %>
